<ion-header>
  <ion-navbar class="header-bar">
      <ion-title>
        #ChatRoom
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding #content>

    <ion-card class="sender" *ngFor="let chat of chats"
      [ngClass]="{'recieve' : user.username!=chat.author}"
      (click)="visitBio(chat.link)">
      <ion-card-header>
        <span *ngIf="user.username==chat.author">
          Me
        </span>
        <span *ngIf="user.username!=chat.author">
          {{ chat.author }}
        </span>
      </ion-card-header>
      <ion-card-content>
        {{ chat.text }}
      </ion-card-content>
    </ion-card>



    <div class="input-box">
      <textarea [(ngModel)]="message.text"></textarea>
      <button ion-button (click)="Send()">
        SEND
      </button>
    </div>

</ion-content>
