page-home {
    padding-bottom: 10vh;
    .header-bar {
      background-color: #1b1d1e;
    }

    .sender {
      text-align: right;
      background-color: #6dbd98;
      color: white;

      &.recieve {
        text-align: left;
        background-color: #737373;
      }

      :first-letter {
          text-transform: capitalize;
      }

      .card-header {
        color: white;
      }
    }


    .input-box {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #e0e0e0;
      padding: 10px;
      display: flex;
      height: 60px;

      textarea {
        width: 80%;
        height: 100%;
        align-self: center;
        color: dimgrey;
        border: 0;
      }

      button {
        display: block;
        align-self: center;
        width: 18%;
        margin-left: 3%;
      }
    }

    .scroll-content {
      margin-bottom: 56px;
    }

}
